.hb-locations {

  background-color: var(--hb-color-light);

  &__container {
    padding-block: 72px 100px;

    @media (max-width: @mobile) {
      padding-block: 25px 50px;
    }
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 32px;

    @media (max-width: @mobile) {
      margin-bottom: 25px;
    }
  }

  &__subheading {
    color: var(--hb-color-dark);
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 40px;

    @media (max-width: @mobile) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__holder {
    counter-reset: locations;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
  }

  &__side {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 1 572px;

    @media (max-width: @mobile) {
      gap: 10px;
    }
  }

  &__item {
    counter-increment: locations;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    //max-width: 572px;
    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked ~ svg.hb-locations__checkmark path:nth-child(1) {
      fill: var(--hb-color-1);
      stroke: var(--hb-color-1);
    }

    input[type="radio"]:checked ~ svg.hb-locations__checkmark path:nth-child(2) {
      stroke: #fff;
    }
  }

  &__count {
    &:before {
      content: counter(locations);
      color: var(--hb-color-1);
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid var(--hb-color-1);
    }
  }

  html.hb-theme-dark &__count::before {
    color: #fff;
    border-color: #fff;
  }

  &__label {
    cursor: pointer;
    background-color: var(--hb-color-light-1);
    padding: 18px 32px;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 540px;
    align-items: center;
    border-radius: 16px;
    color: var(--hb-color-dark);

    @media (max-width: @mobile) {
      padding: 15px;
    }
  }

  html.hb-theme-dark &__label {
    background-color: #292929;
  }

  &__group {
    display: flex;
    //flex-wrap: wrap;
    align-items: center;
    gap: 12px;
  }

  &__location-mark {
  }

  &__text {
    @media (max-width: @mobile) {
      margin-right: 5px;
      font-size: 14px;
    }
  }

  &__checkmark {
    margin-left: auto;
  }

  &__controls {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
    width: 100%;
    max-width: 1170px;

    @media (max-width: @mobile) {
      margin-top: 10px;
      gap: 10px;
    }

    button {
      outline: none;
      border: 1px solid var(--hb-color-1);
      min-width: 220px;
      min-height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      cursor: pointer;
      padding: 10px;
      box-sizing: border-box;
      font-size: 16px;
      font-weight: 600;
      line-height: 100%;

      @media (max-width: @mobile) {
        font-size: 14px;
        min-height: 30px;
        min-width: 130px;
      }
    }
  }


  &__cancel {
    border-color: var(--hb-color-1);
    background: transparent;
    color: var(--hb-color-1);
  }

  html.hb-theme-dark &__cancel {
    border-color: #fff;
    color: #fff;
  }

  &__submit {
    .hb-button-filled();
    color: #fff;
  }
}

.hb-container {
}

.hb-heading-underline {
}
