.hb-header {

  .hb-container {
    padding-block: 20px 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    ul {
      list-style-type: none;
    }
  }

  &__menu1 {
    position: relative;
  }

  &__menu1-trigger {
    width: 48px;
    height: 48px;
    border: 1px solid transparent;
    outline: unset;
    background-color: var(--hb-color-light-1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      pointer-events: none;
    }
  }

  html.hb-theme-dark &__menu1-trigger {
    border-color: #fff;
    background-color: transparent;

    svg path {
      stroke: #fff;
    }
  }

  &__menu1-content {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background-color: var(--hb-color-light);
    min-width: 268px;
    padding: 32px 28px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 20px;
    transition: var(--hb-transition-linear);

    &:not(.active) {
      opacity: 0;
      bottom: -5px;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    li a {
      display: flex;
      gap: 16px;
      align-items: center;
      font-size: 14px;
      line-height: 114%;
      text-decoration: none;
      color: var(--hb-color-dark);
    }
  }

  html.hb-theme-dark &__menu1-content {
    background-color: #1C1C1C;
    color: #fff;
    box-shadow: 0px 0px 71px 0px rgba(0, 0, 0, 0.20);
    --hb-color-dark: #fff;
    --hb-color-dark1: #fff;
  }

  &__svg-wrap {
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  html.hb-theme-dark &__svg-wrap {
    background-color: #292929;
  }

  &__menu1-text {
  }

  &__trigger-dark-mode {
  }

  &__trigger-remove-dark-mode {
  }

  &__nav-menu-mobile {
    @media (min-width: @mobile) {
      display: none;
    }
  }

  &__menu2 {
  }

  &__logo {
  }

  &__side {
    margin-left: auto;
  }

  &__menu3 {
  }

  &__search {
  }

  &__cart {
  }

  &__button {
  }

  .hb-header-menu-items {
    @media (min-width: @mobile) {
    margin-inline: 52px 81px;
    }
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 52px;
    }

    li {
      &.active a {
        color: var(--hb-color-light-1);
        font-size: 16px;
        opacity: 1;
        font-weight: 600;
      }
    }

    a {
      text-decoration: none;
      color: #000;
      opacity: 0.88;
      font-size: 13px;
      line-height: 123%;
    }
  }
}

.hb-trigger-switch-to-dark-mode {
}

.hb-trigger-switch-to-light-mode {
}


.active {
}
