html.hb-theme-dark .hb-trigger-switch-to-dark-mode {
  display: none;
}

html:not(.hb-theme-dark) .hb-trigger-switch-to-light-mode {
  display: none;
}

html:not(.hb-theme-dark) .hb-dark-mode-only {
  display: none;
}

html.hb-theme-dark .hb-light-mode-only {
  display: none;
}

body {
  font-family: var(--hb-font1);
}

.hb-max-container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

.hb-container {
  width: 100%;
  max-width: 1304px;
  padding-inline: 20px;
  box-sizing: border-box;
  margin-inline: auto;
}

.hb-button-filled {
  background-color: var(--hb-color-1);
  color: #fff;
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;

}

.hb-button-blank {
  color: #fff;
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;
}