html.hb-theme-dark .hb-trigger-switch-to-dark-mode {
  display: none;
}

html:not(.hb-theme-dark) .hb-trigger-switch-to-light-mode {
  display: none;
}

html:not(.hb-theme-dark) .hb-dark-mode-only {
  display: none;
}

html.hb-theme-dark .hb-light-mode-only {
  display: none;
}

body {
  font-family: var(--hb-font1);
  background-color: var(--hb-color-light);
  color: var(--hb-color-dark);
}

.hb-max-container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

.hb-container {
  width: 100%;
  max-width: 1304px;
  padding-inline: 20px;
  box-sizing: border-box;
  margin-inline: auto;
}

.hb-button-filled {
  background-color: var(--hb-color-1);
  color: #fff;
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;

}

.hb-button-blank {
  color: #fff;
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;
}

.hb-heading-underline {
  color: var(--hb-color-dark);
  font-size: 48px;
  font-weight: 500;
  line-height: 166%;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 4px;

  @media (max-width: @mobile) {
    font-size: 40px;
  }

  &::after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: var(--hb-color-1);
    position: static;
    display: block;
    border-radius: 12px;
    opacity: 0.9;
  }
}

.hb-input-invalid {
  color: var(--hb-color-3) !important;
  font-size: 11px;
  line-height: 145%;
}

.hb-color-1 {
  color: var(--hb-color-1);
}

.hb-text-center {
  text-align: center;
}