:root {
  --hb-color-light: #fff;
  --hb-color-light-1: #F5F7FB;
  --hb-color-dark: #000;
  --hb-color-dark-1: #292D32;

  --hb-color-1: #D9472F;
  --hb-color-2: #AC3420;
  --hb-color-3: #F55454;

  --hb-font1: 'Euclid Circular A', sans-serif;
  --hb-font2: Inter, sans-serif;
  --hb-font3: Poppins, sans-serif;

  --hb-transition-linear: all .25s linear;
}


html.hb-theme-dark {
  --hb-color-light: #000;
  --hb-color-light-1: #292929;

  --hb-color-dark: #fff;
  --hb-color-dark-1: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

@mobile: 768px;
@headerBp: 1081px;
@aboutBp: 1300px;
@contactsBp: 890px;
@contactsBp2: 1240px;
@authLoginBp: 1440px;